.btn-lg {
    font-weight: $btn-font-weight-lg;
}
.btn-link {
    font-weight: $btn-font-weight-link;
}
.btn-link:hover {
    border: 1px $btn-link-border-color solid;
}

.btn-dark-active{
    font-weight: $btn-font-weight-head-tr;
    border: 2px $btn-dark-active-border-color solid;
}

.btn-dark-passive{
    font-weight: $btn-font-weight-head-tr;
    color: $gray-500;
}

.item-yellow {
    color: $btn-link-addit-color;
}
.item-yellow:hover {
    color: $btn-link-addit-hover-color;
    border: 1px $btn-link-addit-border-color solid;
}

.btn-feedback {
    transform: rotate(-90deg);
    right: -2rem;
    background-color: $blue-feedback;
}

.btn-primary:disabled {
    box-shadow: unset !important;
    color: $gray-disabled;
    background-color: $gray-disabled-bg;
}
