html,
body {
    height: 100%;
}

.color-yellow {
    color: $yellow !important;
}

.page-header {
    background-image: url(/src/img/header-bg.png);
    height: $header-height;
    display: flex;
    flex-flow: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: $header-logo-height;
}

.launch-guide-items {
    max-width: $launch-guide-items-width;
}

.launch-guide-item-img {
    height: $launch-guide-item-img-height;
}
