html {
    font-size: 0.8rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1rem;
    }
}
.color-yellow {
    color: $yellow !important;
}

.text-secondary {
    color: $gray-secondary !important;
}

.page-header {
    background-image: url(/src/img/header-bg.png);
    height: $header-height;
    display: flex;
    flex-flow: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-header-bg {
    background-image: url(/src/img/header-bg.png);
}

.logo {
    height: $header-logo-height;
}

.launch-guide-items {
    max-width: $launch-guide-items-width;
}

.launch-guide-item-img {
    height: $launch-guide-item-img-height;
}

.header-text-huge {
    font-size: $header-huge-text-size;
    font-weight: $header-huge-text-weight;
}

.fw-heavy {
    font-weight: $font-weight-heavy;
}

.container-main {
    max-width: $container-main-max-width;
}

.grade-emotion-icon {
    padding: $grade-emotion-icon-padding;
}

.grade-emotion-icon-flexible{
    padding: 2px;
    width: 100%;
    height: auto;
}

.btn-grade-emotion {
    max-width: $btn-grade-emotion-max-width;
    font-weight: $font-weight-medium;
}

.grade-range-input {
    max-width: $grade-range-input-max-width;
}

.btn-grade-submit {
    max-width: $grade-range-submit-max-width;
}

.text-input-long {
    max-width: $text-input-long-max-width;
}

.text-input-medium {
    max-width: $text-input-medium-max-width;
}

.text-input-short {
    max-width: $text-input-short-max-width;
}

.circle-with-text {
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
}

.bg-gray-circle {
    background-color: $gray-circle-bg;
}

.bg-dark-edit {
    background-color: $gray-800;
}

.initials-circle-base {
    border-radius: 50%;
    background-color: $gray-circle-bg;
    border: solid 2px $white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initials-circle {
    @extend .initials-circle-base;
    width: $initials-circle-diameter;
    height: $initials-circle-diameter;
}

.initials-circle-big {
    @extend .initials-circle-base;
    width: $initials-circle-diameter-big;
    height: $initials-circle-diameter-big;
}

.initials-circle-small {
    @extend .initials-circle-base;
    width: $initials-circle-diameter-small;
    height: $initials-circle-diameter-small;
}

.grade-circle {
    @extend .initials-circle-base;
    width: $grade-circle-diameter;
    height: $grade-circle-diameter;
}

.grade-circle-small {
    @extend .initials-circle-base;
    width: $grade-circle-diameter-small;
    height: $grade-circle-diameter-small;
    border-width: 1px;
}

.initials-text-base {
    color: $dark;
    font-weight: bold;
    margin: 0;
}

.initials-text {
    @extend .initials-text-base;
    font-size: $initials-font-size;
}

.initials-text-small {
    @extend .initials-text-base;
    font-size: $initials-font-size-small;
}

.initials-text-big {
    @extend .initials-text-base;
    font-size: $initials-font-size-big;
}

.title-underline {
    background-color: $yellow;
    width: $title-underline-width;
    height: $title-underline-height;
}

.fs-bigger {
    font-size: $font-size-bigger;
}

.fw-medium {
    font-weight: $font-weight-medium;
}

.shadow-md {
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1) !important;
}

.report-history-grade-col {
    width: $report-history-grade-col-width;
}
.report-history-grade-col-flex-fixed {
    flex: 0 0 $report-history-grade-col-width;
}
.report-history-grade-col-small {
    width: $report-history-grade-col-width-small;
}
