.color-yellow {
    color: $yellow !important;
}

.text-secondary {
    color: $gray-secondary !important;
}

.page-header {
    background-image: url(/src/img/header-bg.png);
    height: $header-height;
    display: flex;
    flex-flow: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: $header-logo-height;
}

.launch-guide-items {
    max-width: $launch-guide-items-width;
}

.launch-guide-item-img {
    height: $launch-guide-item-img-height;
}

.header-text-huge {
    font-size: $header-huge-text-size;
    font-weight: $header-huge-text-weight;
}

.grade-form {
    max-width: $grade-form-max-width;
}

.grade-emotion-icon {
    padding: $grade-emotion-icon-padding;
}

.btn-grade-emotion {
    max-width: $btn-grade-emotion-max-width;
    font-weight: $font-weight-medium;
}

.grade-range-input {
    max-width: $grade-range-input-max-width;
}

.btn-grade-submit {
    max-width: $grade-range-submit-max-width;
}
