.page-header {
    background-image: url(/src/img/header-bg.png);
    height: $header-height;
    display: flex;
    flex-flow: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: $header-logo-height;
}

.launch-guide-item-img{
    // height: $launch-guide-item-img-height;
    height: 30px;
}

html, body{
    //may cause troubless
    height: 100%;
}