.account-img-sm{
    width:  $account-img-sm-width;
    height: $account-img-sm-height;
    border-radius: 50%;
    background-color: $gray-300;
    border: solid 2px $white;
}

.account-img-lg{
    width: $account-img-lg-width;
    height: $account-img-lg-height;
    border-radius: 50%;
    background-color: $gray-300;
    border: solid 2px $white;
}

.table-header{
    font-size: $table-header-fs;
    padding-right: $table-header-padding-r;
    text-align: center;
}

.breakline{
    background-color: $yellow;
    width: $breakline-width;
    height: $breakline-height;
}

.account-img{
    width: $account-img-width;
    height: $account-img-height;
    border-radius: 50%;
    background-color: $gray-300;
    border: solid 2px $white;
}
.emoji{
    width: $emoji-width;
    height: $emoji-height;
    border-radius: 50%;
    margin: 0 15px 0 15px;
}

