@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1070px,
  xl: 1200px,
  xxl: 1400px,
);

// Colors, Opacity.
$background: #f5f7f8;
$dark: #1f2426;
$gray-800: #333a3d;
$gray-secondary: #a1a8ac;
$gray-circle-bg: #d5d9db;
$gray-disabled: #8e999e;
$gray-disabled-bg: #e8eced;
$white: #fff;
$yellow: #fcd214;
$blue-feedback: #0b3d67;

$modal-backdrop-bg: $white;
$modal-backdrop-opacity: 0.9;

$input-placeholder-color: $gray-secondary;

$theme-colors: (
  "primary": $yellow,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

// Font.
$font-size-bigger: 1.1rem;

$header-huge-text-size: 3.3rem;
$header-huge-text-weight: 700;

$font-weight-medium: 600;

$font-weight-heavy: 1000;

$btn-font-weight-lg: 800;
$btn-font-weight-link: 500;

$btn-font-weight-head-tr: 500;

$initials-font-size: 1.1rem;
$initials-font-size-big: 2rem;
$initials-font-size-small: 1rem;

$table-header-fs: 17px;

// Width & height.
$header-height: 200px;
$header-logo-height: 60px;

$launch-guide-items-width: 818px;
$launch-guide-item-img-height: 350px;

$container-main-max-width: 1000px;
$btn-grade-emotion-max-width: 180px;

$grade-range-input-max-width: 500px;
$grade-range-submit-max-width: 500px;

$aside-width: 250px;

$text-input-long-max-width: 31rem;
$text-input-medium-max-width: 22rem;
$text-input-short-max-width: 17rem;

$account-img-width: 70px;
$account-img-height: 70px;

$account-img-sm-width: 50px;
$account-img-sm-height: 50px;

$account-img-lg-width: 90px;
$account-img-lg-height: 90px;

$emoji-width: 50px;
$emoji-height: 50px;

$breakline-width: 50px;
$breakline-height: 5px;
$title-underline-width: 30px;
$title-underline-height: 4px;

$initials-circle-diameter: 55px;
$initials-circle-diameter-big: 95px;
$initials-circle-diameter-small: 40px;

$grade-circle-diameter: 40px;
$grade-circle-diameter-small: 24px;

$report-history-grade-col-width: 56px;
$report-history-grade-col-width-small: 30px;

// Padding
$grade-emotion-icon-padding: 6px;
$table-header-padding-r: 135px;

// Buttons.
$btn-padding-y-lg: 14px;
$btn-font-size-lg: 18px;
$link-decoration: unset;

$btn-link-hover-color: $white;
$btn-link-color: $white;
$btn-link-border-color: $white;
$btn-link-addit-hover-color: $yellow;
$btn-link-addit-color: $yellow;
$btn-link-addit-border-color: $yellow;
$btn-dark-active-border-color: $yellow;
$btn-dark-passive-font-color: $gray-800;
