<div class="modal p-3" id="edit-leaders-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered container-main">
    <div class="modal-content shadow">
      <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-3 p-md-5">
        <!-- Title -->
        <h2 class="fw-heavy mb-2 p-0">Edit Anatoliy's information</h2>
        <p class="p-0 mb-4">By default, the person who sent you the invite will receive your weekly report.
          You may also select the person you report to directly as an additional leader.</p>
        <p class="p-0 mb-4">Pro Tip: you can change who sees you report in your profile settings.</p>

        <!-- Leaders -->
        <div class="d-flex flex-row flex-wrap pt-1 mb-3">
          <div class="bg-dark-edit rounded d-flex flex-row ps-2 pe-1 py-1 mb-1 me-1 align-items-center">
            <span class="text-light border-end border-dark border-2 pe-2">Alexandr Vovchuk</span>
            <button type="button" class="btn text-light px-1 py-0 ms-1">
              <i class="bi bi-x-lg"></i></button>
          </div>
          <div class="bg-dark-edit rounded d-flex flex-row ps-2 pe-1 py-1 mb-1 me-1 align-items-center">
            <span class="text-light border-end border-dark border-2 pe-2">Anton Tarkhanov</span>
            <button type="button" class="btn text-light px-1 py-0 ms-1">
              <i class="bi bi-x-lg"></i></button>
          </div>
          <div class="bg-dark-edit rounded d-flex flex-row ps-2 pe-1 py-1 mb-1 me-1 align-items-center">
            <span class="text-light border-end border-dark border-2 pe-2">Natalia Starkova</span>
            <button type="button" class="btn text-light px-1 py-0 ms-1">
              <i class="bi bi-x-lg"></i></button>
          </div>
          <div class="bg-dark-edit rounded d-flex flex-row ps-2 pe-1 py-1 mb-1 me-1 align-items-center">
            <span class="text-light border-end border-dark border-2 pe-2">Nikolai Kapustin</span>
            <button type="button" class="btn text-light px-1 py-0 ms-1">
              <i class="bi bi-x-lg"></i></button>
          </div>
          <div class="bg-dark-edit rounded d-flex flex-row ps-2 pe-1 py-1 mb-1 me-1 align-items-center">
            <span class="text-light border-end border-dark border-2 pe-2">Nina Mammadova</span>
            <button type="button" class="btn text-light px-1 py-0 ms-1">
              <i class="bi bi-x-lg"></i></button>
          </div>
        </div>

        <!-- Text input -->
        <div class="d-flex">
          <input type="text" class="form-control border-1">
        </div>

        <!-- Save changes -->
        <button type="button" class="btn btn-primary fw-bold mt-4 mt-md-6">Save changes</button>
      </div>
    </div>
  </div>
</div>
