<!-- Top nav until md -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-md-none">
  <div class="container-fluid">
    <a class="navbar-brand text-center" href="#">Weekly Team Report</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <!-- Main options (top) -->
        <li class="nav-item">
          <a class="nav-link active text-center fw-bold" href="#">Launch Guide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-center" href="#">Invite Your Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-center" href="#">Team Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-center" href="#">My Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-center color-yellow" href="#">Fill out a Report</a>
        </li>

        <!-- Additional options (bottom) -->
        <li class="nav-item mt-3">
          <a class="nav-link active text-center" href="#">Back to Elite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-center" href="#">My Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-center" href="#"><i class="bi bi-gear-fill"></i>&nbsp;My
            Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-center" href="#"><i class="bi bi-box-arrow-left"></i>&nbsp;Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
